<!-- templates/about.html -->
{% extends 'base.html' %}
{% block content %}
<h1 style="text-align: center;">ABOUT PAGE</h1>
<p style="text-align: center;">This page is "Ivancic's Bookstore," which is a project Emalee Keesler, Ruben Orozco, and Morgan Browning made for Database Management Systems taught by Dr. Ivancic.</p>
<p style="text-align: center;">The database was created using MySQL Workbench. The frontend was created in Python using Django in which the Templates were written in html.</p>

{% endblock %}