{% extends 'base.html' %}
{% block content %}
    <article class="media content-section">
        <div class="media-body col-md-6">
            <div class="aritcle-metadata">
                <h2 class="article-title">{{ object.title }}</h2><strong style="align-content:flex-end;">${{object.price}}</strong>
            </div>
            <p class="article-content">
                ISBN: {{ object.isbn }} 
                Author(s): {{ object.get_author }}
                Category: {{ object.get_category }}
                Publish Date: {{ object.publish_date }}
            </p>
        </div>
        <div class="col-md-6" style="text-align:left; margin-top:5%;">
            <p>
                <a class="btn btn-outline-success" href="{% url 'pages-add' object.isbn %}">Add to Order</object></a><br />
                <br /><a class="btn btn-outline-warning" href="{% url 'book-review' object.isbn %}">Add a review</object></a>
            </p>
        </div>
    </article>
    <legend class="border-bottom mb-4">User Reviews</legend>
    {% if reviews %}
        {% for r in reviews %}
        <article class="media content-section col-md-6">
            <div class="media-body col-md-6">
                <div class="aritcle-metadata">
                    <h4 class="atricle-title ">{{ r.title }} <small>from: {{r.owner.username}}</small></h4>
                </div>
                <div class="article-content">
                    {{ r.text }}
                </div>
            </div>
        </article>
        {%endfor%}
    {% else %}
    <h5>There are no user reviews</h5>
        
    {%endif%}
{% endblock %}