<!-- templates/complete.html -->
<p>{% extends "base.html" %} {% block content %}</p>
<h1 style="text-align: center; padding-top: 50pt; padding-bottom: 50pt;">Thank you,&nbsp;{{ user.username }}.</h1>
<h1 style="text-align: center; padding-top: 50pt; padding-bottom: 50pt;">Your order will be available for pick up tomorrow at</h1>
<h1 style="text-align: center; padding-top: 50pt; padding-bottom: 50pt;">312F Cole STEM</h1>
<h1 style="text-align: center; padding-top: 50pt; padding-bottom: 50pt;">1936 North St.</h1>
<h1 style="text-align: center; padding-top: 50pt; padding-bottom: 50pt;">Nacogdoches, TX 75962</h1>
<p>{% endblock content %}</p>